---
// src/components/Footer.astro
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Foxhyn.com. All rights reserved.
	<p>
		Created & designed by
		<a href="https://josefbouse.cz" target="_blank" rel="noopener">
			Josef Bouše
		</a>
	</p>
	<SocialLinks />
</footer>

<style>
	footer {
		padding: 2em 1em 3em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
